body{margin:0px;}
.form{
	position: absolute;
	width: 100%;
	height: 100%;
}
.head_block{
	position: absolute;
	background:grey;
	width: 100%;
	height: 10%;
}

.filter_block{
	position:absolute;
	background: #DBDCDC;
	width: 25%;
	height: 60%;
	top: 10%;
	overflow: auto;
	
}
.checkGroup{
	position:absolute;
	left: 10%;
	margin-top: 15px;
	overflow: auto;
}
.btn_build{
	margin-top:5%;
	margin-left: 10%
	
}
.result_block{
	position:absolute;
	background: #9ACCCC;
	width: 25%;
	height: 30%;
	top: 70%;
	box-shadow: 0 0 5px;
}
.table_block{
	position:absolute;
	background-image:url(images/back_table.png);
	width: 75%;
	height: 90%;
	top: 10%;
	left:25%;
	box-shadow: inset 0 0 6px;
}
.build_table_btn{
	position: absolute;
	left: 15%;
	top: 0%
}

.tableOut{
	position:absolute;
	background: white;
	width:100%;
	height:100%;
	overflow: auto;
	box-shadow: inset 0 0 6px;
}
.preloader{
	position:absolute;
	background-color: rgba(0, 0, 0,0.3);
	width:100%;
	height:100%;
	box-shadow: inset 0 0 6px;
	z-index:5;
}
.Select_div{
	position:absolute;
	margin-left: 2%;
	margin-top: 1%;
}
.Instruction{
	position:absolute;
	margin-left: 15%;
	margin-top: 0.5%;
}

