body{margin:0px;}
.form{
	position: absolute;
	width: 100%;
	height: 100%;
}
.head_block{
	position: absolute;
	background:grey;
	width: 100%;
	height: 10%;
}

.filter_block{
	position:absolute;
	background: #DBDCDC;
	width: 25%;
	height: 60%;
	top: 10%;
	overflow: auto;
	
}
.checkGroup{
	position:absolute;
	left: 10%;
	margin-top: 15px;
	overflow: auto;
}
.btn_build{
	margin-top:5%;
	margin-left: 10%
	
}
.result_block{
	position:absolute;
	background: #9ACCCC;
	width: 25%;
	height: 30%;
	top: 70%;
	box-shadow: 0 0 5px;
}
.table_block{
	position:absolute;
	background-image:url(images/back_table.png);
	width: 75%;
	height: 90%;
	top: 10%;
	left:25%;
	box-shadow: inset 0 0 6px;
}
.build_table_btn{
	position: absolute;
	left: 15%;
	top: 0%
}

.tableOut{
	position:absolute;
	background: white;
	width:100%;
	height:100%;
	overflow: auto;
	box-shadow: inset 0 0 6px;
}
.preloader{
	position:absolute;
	background-color: rgba(0, 0, 0,0.3);
	width:100%;
	height:100%;
	box-shadow: inset 0 0 6px;
	z-index:5;
}
.Select_div{
	position:absolute;
	margin-left: 10px;
	margin-top: 0.5%;
}
.Instruction{
	position:absolute;
	left: 200px;
	height:90%;
	margin-top:0.5%;
}

.selects{
   display: inline-block;
  width: 160px;
  height: 34px;
  line-height: 30px;
  position: relative;
}
input[type=checkbox].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:21px;
							height:16px; 
							display:inline-block;
							line-height:16px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:16px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -16px;
						}
						label.css-label {
				background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_81f722579f9a47fe19127e2f016b3c37.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}